node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.metrobundler-cache/
.metro-cache/
coverage/

.DS_Store
.vscode/
.idea/

.env*
*.key
*.keystore

ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*/xcuserdata/
# Commit Pods for reproducible iOS builds:
# ios/Pods/   <-- (intentionally NOT ignored)

android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
android/app/release/
android/app/debug/
android/app/profile/

.bundle/
.jest/
*.iml
